{
  local_certs
  # Disable auto_https redirects since we don't want permanent redirects to https
  auto_https disable_redirects
  ocsp_stapling off
  skip_install_trust
}

(log) {
  log {
    output {$LOG_OUTPUT}
  }
}

# Redirect www domains to the app
www.{$SITE_ADDRESS}, http://www.{$SITE_ADDRESS} {
  redir https://{$SITE_ADDRESS}{uri}
}

# App
{$SITE_ADDRESS}, *.{$SITE_ADDRESS}, http:// {
  reverse_proxy /socket.io/* {$SOCKETIO_ADDRESS}
  reverse_proxy {$APP_ADDRESS}
  import log
}

# API
api.{$SITE_ADDRESS}, http://api.{$SITE_ADDRESS} {
  reverse_proxy {$API_ADDRESS}
  import log
}

# Local SMTP
mail.{$SITE_ADDRESS} {
  reverse_proxy {$MAIL_ADDRESS}
  import log
}

# Hot reloader
hot.{$SITE_ADDRESS}, http://hot.{$SITE_ADDRESS} {
  reverse_proxy {$HOT_ADDRESS}
  import log
}

# Websockets
ws.{$SITE_ADDRESS}, http://ws.{$SITE_ADDRESS} {
  reverse_proxy {$WS_ADDRESS}
  import log
}
